# General
.DS_Store
.idea
*.log
node_modules
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Shopify-specific
config/development.json
config/local.json
config/settings_local.yml
config/settings_development.yml
.shopify-cli-cache
.shopify-config.yml
node_modules
public/assets/
public/packs/
public/webpack-dev-server.js
tmp/